---
# .yamllint configuration file
extends: default

ignore: |
  apps/argocd/argocd.yaml
  apps/friendlyhello/chart/templates/
  .github/
  *.sh
  *.md

rules:
  line-length:
    max: 200
    level: warning
  comments-indentation: disable
  truthy:
    check-keys: false
